<header class="header">
  <a href="/" class="header__link">
    <img class="header__logo" loading="lazy" src="img/logo.png" alt="Logo" width="130" height="33.33">
  </a>
  <nav class="nav" title="Главное меню">
    <ul class="nav__list list-reset">
      <li class="nav__item"><a href="#about" class="nav__link menu-btn">Обо мне</a></li>
      <li class="nav__item"><a href="#resume" class="nav__link menu-btn">Резюме</a></li>
      <li class="nav__item"><a href="#portfolio" class="nav__link menu-btn">Портфолио</a></li>
      <li class="nav__item"><a href="#contacts" class="nav__link menu-btn">Контакты</a></li>
    </ul>
  </nav>
</header>
