<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="h5"></div>
        <h1 class="hero__title"><span>Ирина</span> Пронина</h1>
        <p class="hero__text">Pанимаюсь разработкой сайтов и приложений с 2017 года. Подробнее узнать обо мне можно на
          этом сайте.</p>
        <h2 class="hero__subtitle appear">Привет! Я
          <span class="appear-text">FrontEnd developer</span>
        </h2>
        <a href="https://github.com/IrinaPronina" class="hero__btn btn main-btn btn-icon" role="button">
          <div class="btn__text">GitHub</div>
          <div class="btn__icon">
            <svg class="btn__svg">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </div>
        </a>
        <a href="https://t.me/iren_pronina" class="hero__btn btn main-btn btn-icon" role="button">
          <div class="btn__text">На связи</div>
          <div class="btn__icon">
            <svg class="btn__svg">
              <use xlink:href="img/sprite.svg#envelope-fill"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
